.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
  color: #ffffff;
  margin-top: 92px;
}
