.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__text {
  font-family: "Inter-Regular";
  max-width: 194px;
  max-height: 16px;
  font-size: 14px;
  line-height: 1;
  text-align: right;
  margin-top: 0;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .footer__text {
    max-height: 14px;
  }
}
