.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  max-width: 255px;
  max-height: 69px;
  margin-top: 34px;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-family: "Inter-Black";
  font-size: 96px;
  line-height: 1;
  text-align: center;
  max-width: 720px;
  margin: 91px auto 0;
}

.header__subtitle {
  font-family: "Inter-Regular";
  font-size: 30px;
  line-height: 1;
  text-align: center;
  max-width: 720px;
  margin: 32px auto 64px;
}

.header__image {
  width: 100%;
}
