.introduction {
  max-width: 990px;
  margin: 92px auto;
  display: flex;
  flex-direction: column;
}

.introduction__title {
  max-width: 830px;
  font-family: "Inter-Black";
  font-size: 54px;
  line-height: 1.1;
}

.introduction__quote {
  max-width: 738px;
  font-family: "Inter-Regular";
  font-size: 24px;
  line-height: 1.2;
}

.introduction__quote-author {
  max-width: 732px;
  font-family: "Inter-Regular";
  font-size: 24px;
  line-height: 1.2;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 32px;
}

.introduction__text {
  max-width: 722px;
  font-family: "Inter-Regular";
  font-size: 16px;
  line-height: 2.1;
}
